body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}

.avatar-container {
  height: 150px;
  width: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.avatar {
  height: 100%;
  width: auto;
  margin: 0 auto;
  margin-left: -25%;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
}