<!-- Header -->
<div class="w3-container" style="margin-top:80px" id="showcase">
  <h1 class="w3-jumbo"><b>RESTFUL API</b></h1>
</div>

<div class="w3-container" id="services" style="margin-top:75px">
  <!-- <h1 class="w3-xxxlarge w3-text-red"><b>Services.</b></h1> -->
  <hr style="width:50px;border:5px solid w3-flat-midnight-blue" class="w3-round">
  <p>RESTFUL API là 1 tiêu chuẩn để thiết kế API cho ưngs dụng để tiền quản lí resource</p>
  <p>API Application Programming Interface là tập hợp cơ chế, quy tắc để ứng dụng hay thành phần tương tác với ứng dụng hay thành phần khác
    Kiểu dữ liệu trả về: XML hoặc JSON
  </p>
  <p>
    REST REpresentational State Transfer
    dạng chuyển đổi cấu trúc dữ liệu, kiểu kiến trúc để viết API. sử dụng phương thức HTTP để giao tiếp giữa các máy. REST gửi 1 yêu cầu GET, POST, PUT, DELETE đến 1 url để xử lý 

    RESTFUL API k sử dụng session hay cookie để authenticate mà dùng 1 access token với mỗi request

    Khi request API sẽ có status code trả về  
  </p>
</div>